{% extends "base-cms.html" %}
{% load cms_tags %}

{% block base_content %}
    <!-- area-site -->
    <div class="area-site padrao">
        <div class="container">
            {% placeholder title_content %} 
        </div>
    </div>
    <!-- fim area-site -->

    <div class="container">
        
        <div class="img-destaque">
            {% placeholder highlight_content %}
        </div>

        <!-- conteudo principal -->
        <div class="conteudo padrao">
            {% placeholder main_content %}
        </div>
        <!-- fim de conteudo -->

        <!-- barra lateral -->
        <div class="barra-lateral padrao">
            {% placeholder right_content %}
        </div>
        <!-- fim de barra lateral -->
    </div>
{% endblock %}