{% load static i18n %}
<!-- parceiros -->
<h3>{%trans "Sponsors"%}</h3>
<ul class="lista-parceiros">
    <li><a href="http://www.moore.org/" title="Gordon and Betty Moore Foundation"><img src="{% get_static_prefix %}images/logos/logo-moore.png" alt="Gordon and Betty Moore Foundation" /></a></li>
    <li><a href="http://www.skollfoundation.org/" title="Skoll Foundation"><img src="{% get_static_prefix %}images/logos/logo-skoll.png" alt="Skoll Foundation" /></a></li>
    <li><a href="http://www.avina.net/" title="AVINA"><img src="{% get_static_prefix %}images/logos/logo-avina.png" alt="AVINA" /></a></li>
</ul>           
<!-- fim de parceiros -->   