<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\python.exe &quot;%s % s&quot;" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
