/* ================================================================ */
/* Cadastro */
/* ================================================================ */
.feedback-erro{color:#f55567;font-size:12px;font-style:italic;}
.container.register .errorlist{color:#f55567;font-size:12px;font-style:italic;margin-left:180px;}
.container.register header.info-preliminar .controles{float:right}
.container.register header.info-preliminar .botao{display:inline-block;margin-left:10px;}
.container.register h3{color:#00539F;font-size:22px;padding:0 0 10px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
.container.register fieldset{width:720px;}
.container.register fieldset+fieldset{margin-top:20px;}
.container.register label{color:#00539f;font-size:12px;display:inline-block;width:155px;padding-left:3px;margin:0 20px 0 0;text-align:right;vertical-align:middle}
.container.register .autoria-data{padding-bottom:25px;font-size:12px;}
.container.register legend.titulo-tabela{width:680px;}
.container.register .fieldWrapper{position:relative;background:#f6f6f6 url(../images/bg/field-wrapper.gif) repeat-y 165px 0;border-top:5px solid #fff;padding:8px 0;width:700px;min-height:28px;}
.container.register .fieldWrapper input[type='text']{width:175px;display:inline-block}
.container.register .fieldWrapper.largura-maxima input[type='text']{width:350px;}
.container.register .fieldWrapper textarea{width:350px;height:130px;}
.container.register .fieldWrapper label+ul{display:inline-block}
.container.register .fieldWrapper li{display:inline-block}
.container.register .fieldWrapper li label{width:auto;text-align:left;color:#8EB737;font-weight:bold}
.container.register .fieldWrapper.largura-maxima .links-adicionais{float:right;margin:8px 10px 0 0}
.container.register .fieldWrapper .results_on_deck{margin-left:180px;width:530px;}
.container.register .fieldWrapper .results_on_deck>div{background-color:#8EB737;color:#fff;display:inline-block;padding:3px 5px;}
.container.register .fieldWrapper .results_on_deck>div+div{margin-left:8px}
.container.register .fieldWrapper .results_on_deck .ui-icon-trash{background:url(../images/ico/ico-fechar.png) no-repeat center center;width:8px;height:9px;float:right;text-indent:-9999px;margin:6px 0 0 8px;}
.container.register .fieldWrapper .qx-stylingForms-select{vertical-align:middle;width:auto!important;}
.container.register .fieldWrapper .qx-stylingForms-select + input{display:inline-block;margin:-3px 0 0 8px}

/* Login ================================ */
#login{float:left;}
#login .box-login{width:234px;margin-top:10px;}
#login .box-login .borda{border-top:0;padding-top:0}
#login .box-login .borda+.borda{padding-top:8px;border-top:1px solid white}
#login .box-login input[type='text']{width:210px}
#login .box-login input[type='password']{width:210px}
#login .box-login + .feedback-erro{margin-top:20px;}
.alinhamento-direita{float:right}
input+.alinhamento-direita{margin-top:6px;}
#signUp{float:left;margin:10px 0 0 35px}
#signUp .cartao{margin:0;font-size:12px;line-height:15px;box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.2);}
#signUp .cartao ul{margin:15px 0;}
#signUp .cartao .texto-destaque{font-weight:bold;font-size:12px;border:0;}
#signUp .cartao .botao.primario{display:inline-block;}
ul.bullet-list li{list-style:circle url(../images/ico/bullet.png) inside;margin-bottom:3px;}