{% load static i18n sekizai_tags cms_tags %}
<div class="banner-interno menor">
    <div class="texto">
        <h4>{% trans "Discover funding flows and trends using Ecofunds map" %}</h4>
        <p>
           {% trans "Ecofunds is the official RedLAC web platform to map and coordinate conservation investments in the Andes-Amazon region." %}
        </p>
        <a class="botao primario" href="{% page_url "map" %}" title="{% trans "Navigate Map" %}">{% trans "Navigate Map" %}</a>
    </div>
</div>