{% load cms_tags sekizai_tags static i18n %}
{% addtoblock "js" %}
    {{ form.media.js }}
    <script type="text/javascript" 
        src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart'],'language':'pt'}]}">
    </script>
    <script type="text/javascript" src="{% get_static_prefix %}scripts/maps/map.js"></script>
{% endaddtoblock %}

{% if instance.show_search_projects or instance.show_search_organizations or instance.show_search_investments %}
    <!-- area-site -->
    <div class="area-site">
        <div class="container">
            <h2 class="ico ico-texto bussola2">{% trans "Navigate Map" %}</h2>    
        </div>
    </div>
    <!-- fim area-site -->

    <div class="container">
        <div class="area-filtros-mapa">
            <div class="menu-abas">
                <ul class="menu-abas-container">
                    {% if instance.show_search_projects %}<li class="item aba"><a href="#filtro-projetos">{% trans "Projects" %}</a></li>{% endif %}
                    {% if instance.show_search_organizations %}<li class="item aba"><a href="#filtro-organizacoes">{% trans "Organizations" %}</a></li>{% endif %}
                    {% if instance.show_search_investments %}<li class="item aba"><a href="#filtro-investimentos">{% trans "Investments" %}</a></li>{% endif %}
                </ul>
            </div>

            <div class="opcoes">
                <!-- tipo mapa -->
                <div class="tipo-mapa">
                    <ul class="tipo-mapa-container">
                        <li class="item"><label><input type="radio" name="view" value="heat" checked="checked" />{% trans "Heat Map" %}</label></li>
                        <li class="item"><label><input type="radio" name="view" value="density" />{% trans "Density" %}</label></li>
                        <li class="item"><label><input type="radio" name="view" value="bubble" />{% trans "Bubble" %}</label></li>
                    </ul>
                </div>
                <!-- fim de tipo mapa -->

                <!-- visualizacao-mapa -->
                <div class="visualizacao-mapa">
                    <ul class="visualizacao-mapa-container">
                        <li class="item"><p>{% trans "View: " %}</p></li>
                        <li class="item ico ico-texto mapa-ativo"><a href="#">{% trans "Map" %}</a></li>
                        <li class="item ico ico-texto grafico-inativo"><a href="#">{% trans "Chart" %}</a></li>     
                    </ul>
                </div>
                <!-- fim de visualizacao-mapa -->

                <!-- operacoes-mapa -->
                <div class="operacoes">
                    <ul class="operacoes-container">
                        <li class="item ico ico-texto relatorio-menor"><a href="#">{% trans "Generate Report" %}</a></li>
                        <li class="item ico ico-texto impressao"><a href="#">{% trans "Print" %}</a></li>     
                    </ul>
                </div>
                <!-- fim de operacoes-mapa -->
            </div>

            

            {% if instance.show_search_projects %}
                {% addtoblock "js" %}
                <script type="text/javascript">
                    jQuery(function ($) {
                        ecofundsMap.loadProjects();
                    });
                </script>
                {% endaddtoblock %}
                
                <section id="filtro-projetos">
                    {% include "project/advanced-search.html" %}
                </section>
            {% endif %}

            {% if instance.show_search_organizations %}
                <section id="filtro-organizacoes">
                    {% include "organization/advanced-search.html" %}
                </section>
            {% endif %}
            
            {% if instance.show_search_investments %}
                <section id="filtro-investimentos">
                    {% include "investment/advanced-search.html" %}
                </section>
            {% endif %}
        </div>
    </div>
{% endif %}

<section class="mapa">
    <div class="container">
        <div class="botoes-container">
            <a href="javascript:;" class="botao secundario btn-adic-camada destacado">{% trans "Add Layer" %}</a>
            <a href="javascript:;" class="botao secundario btn-tela-cheia destacado">{% trans "Full Screen" %}</a>
            <a href="javascript:;" class="botao secundario btn-mapa terrain">{% trans "Map" %}</a>
            <a href="javascript:;" class="botao secundario btn-satelite selecionado hybrid">{% trans "Satellite" %}</a>
        </div>
    
        <div class="slider-control-container">
            <div class="zoom-in"></div>
            <div class="slider-control"></div>
            <div class="zoom-out"></div>
        </div>

    </div>

    {{ form.map }}
</section>

<section id="chart-view" class="graficos"></section>

