{% extends "base.html" %}
{% load tags cms_tags sekizai_tags static i18n %}

{% block page_id %}map{% endblock %}

{% block head %}
    {% addtoblock "css" %}
        <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/ui-custom-theme/jquery-ui-1.9.2.custom.css" />
        <style type="text/css">
          .map-wrapper {
            height: 400px;
          }
        .labels {
            color: white;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            width: 100px;
            "border: 2px solid black;"
            white-space: nowrap;
        }
        </style>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script type="text/javascript">
            var default_domain = 'investment';
            var default_map_type = 'density/';
        </script>
        <script src="{% get_static_prefix %}js/handlebars.1.0.0.beta.3.js"></script>
        <script data-main="{% get_static_prefix %}js/app.js" src="{% get_static_prefix %}js/require.js"></script>
    {% endaddtoblock %}
{% endblock %}

{% block base_content %}
    <script type="text/javascript">
        var global_map_height = 583;
        var default_domain = 'project';
        var default_map_type = 'marker/';
    </script>
    <!-- area-site -->
    <div class="area-site">
        <div class="container">
            <h2 class="ico ico-texto mapa-maior-branco">{% trans "Navigate Map" %}</h2>
        </div>
    </div>
    <!-- fim area-site -->

    <div class="container">
        <div class="area-filtros-mapa">
            <div class="menu-abas">
                <ul class="menu-abas-container">
                    <li class="item aba"><a class="link-aba" href="#project">{% trans "Projects" %}</a></li>
                    <li class="item aba"><a class="link-aba" href="#organization">{% trans "Organizations" %}</a></li>
                    <li class="item aba"><a class="link-aba" href="#investment">{% trans "Investments" %}</a></li>
                </ul>
            </div>

            <div class="conteudo-abas-container">
                    <section id="filtro-projetos">
                        {% include "maps/search-project.html" %}
                    </section>
                    <section id="filtro-organizacoes">
                        {% include "maps/search-organization.html" %}
                    </section>
                    <section id="filtro-investimentos">
                        {% include "maps/search-investment.html" %}
                    </section>
            </div>
        </div>
    </div>

    <section id="map-view" class="mapa">
        <div class="carregando tela-mapa" style="position:absolute;width:55%;margin-left:33%;"></div>
        <div style="position:relative;width:55%;height:400px;margin-left:33%;" class="gmap mapa" id="id_map">
            <div style="position:absolute;width:55%;height:100%;"></div>
            <div class="container">
                <div class="slider-control-container" style="position:relative;margin-left:63%;width:25px;">
                    <div class="zoom-in"></div>
                    <div class="slider-control"></div>
                    <div class="zoom-out"></div>
                </div>
            </div>
        </div>
    </section>

    {% verbatim %}
    <div id="info_project" style="display: none;">
        <h4><a href="/detail/project/{{ entity_id }}">{{ acronym }}</a></h4>
        {{#if url }}
        <ul>
            <li>Website: <a href="{{ url }}">{{ url }}</a></li>
        </ul>
        {{/if}}
    </div>
    <div id="info_organization" style="display: none;">
        <h4><a href="/detail/organization/{{ entity_id }}">{{ name }}</a></h4>
        {{#if url }}
        <ul>
            <li>Website: <a href="{{ url }}">{{ url }}</a></li>
        </ul>
        {{/if}}
    </div>
    <div id="info_investment_density" style="display: none;">
        <h4>Total: {{ total_investment_str }}</h4>
        <ul>
        {{#each projects}}
            <li>Website: <a href="/detail/investment/{{ id }}">{{ acronym }}</a> - {{ amount_str }}</li>
        {{/each}}
        </ul>
    </div>
    {% endverbatim %}
{%  endblock %}
