{% load static tags i18n %}
<!-- Filtros de Busca por Organizações -->
<section id="organization-filter" class="filtros organizacoes aberto">
    <header class="cabecalho">
        <h4>{% trans "Search organizations by" %}</h4>
    </header>

    <form class="form-filtros organizacoes" action="#" method="post">
        <div class="borda primeiro">
            <fieldset>
                <legend>{% trans "Organization" %} <span class="total">({{ count_organizations }})</span></legend>
                {{ search_organization_form.name }}
            </fieldset>
        </div>

        <div class="borda">
            <fieldset>
                <legend>{% trans "Type" %} <span class="total">({{ count_organization_types }})</span></legend>
                {{ search_organization_form.kind }}
            </fieldset>
        </div>

        <div class="borda">
            <fieldset>
                <legend>{% trans "Supported location" %} <span class="total">({{ count_organization_regions }})</span></legend>

                <label for="id_country">{{ search_organization_form.country.label }}</label>
                {{ search_organization_form.country }}

                <label for="id_state">{{ search_organization_form.state.label }}</label>
                {{ search_organization_form.state }}
            </fieldset>
        </div>
        <div class="borda">
          <p><img src="{% get_static_prefix %}images/ico/ico-projeto2.png">{% trans "Download as CSV" %}</p>
          <p><img src="{% get_static_prefix %}images/ico/ico-xls.png">{% trans "Download as XLS" %}</p>
        </div>
    </form>
</section>
