{% load static tags i18n %}

<!-- Filtros de Busca por Investimentos -->
<section id="investment-filter" class="filtros investimentos aberto">
    <header class="cabecalho">
        <h4>{% trans "Search investiments by" %}</h4>
    </header>

    <form class="form-filtros investimentos" action="#" method="post">
        <div class="borda primeiro">
            <fieldset>
                <legend>{% trans "Type" %} <span class="total">({{count_investment_kinds}})</span></legend>
                {{ search_investment_form.kind }}
            </fieldset>
        </div>

        <div class="borda">
            <fieldset>
                <legend>{% trans "Organization" %} <span class="total">({{count_investment_organizations}})</span></legend>
                {{ search_investment_form.organization }}
            </fieldset>
        </div>

        <div class="borda">
            <fieldset>
                <legend>{% trans "Project Name" %} <span class="total">({{count_investment_projects}})</span></legend>
                {{ search_investment_form.project }}
            </fieldset>
        </div>

        <div class="borda ultimo">
            <fieldset>
                <legend>{% trans "Supported Region" %} <span class="total">({{count_investment_locations}})</span></legend>
                <label for="id_country">{{ search_investment_form.country.label }}</label>
                {{ search_investment_form.country }}
                <label for="id_state">{{ search_investment_form.state.label }}</label>
                {{ search_investment_form.state }}
                <label for="id_state">{{ search_investment_form.city.label }}</label>
                {{ search_investment_form.city }}
            </fieldset>
        </div>
        <div class="borda">
          <p><a href="{% url investment_api "csv" %}">
            <img src="{% get_static_prefix %}images/ico/ico-projeto2.png">
            {% trans "Download all Investments as CSV" %}</a></p>
          <p><a href="{% url investment_api "xls" %}">
            <img src="{% get_static_prefix %}images/ico/ico-xls.png">
            {% trans "Download all Investments as XLS" %}</a></p>
        </div>
    </form>
</section>
