{% extends "base.html" %}
{% load sekizai_tags tags i18n static %}

{%block head%}
    {% addtoblock "js" %}
        <!-- Funções gerais de cadastro -->
        <script type="text/javascript" src="{% get_static_prefix %}scripts/global/detail.js"></script>
        <!-- Plugin utilizado para criar os fluxos -->
		<script type="text/javascript" src="{% get_static_prefix %}scripts/libs/jit-yc.js"></script>
        <!-- Funções específicas dessa página -->
        <script type="text/javascript" src="{% get_static_prefix %}scripts/investment/detail.js"></script>
    {% endaddtoblock %}
{% endblock %}

{% block base_content %}
<!-- area-site -->
<div class="area-site">
    <div class="container">
        <h2 class="ico ico-texto investimento-maior-branco">{% trans "Investments" %}</h2>
    </div>
</div>
<!-- fim area-site -->

<div class="container">
    <!-- conteudo principal -->
    <div class="conteudo">
    	<div class="ficha investimento" data-index="{{ investment.pk }}">
    		<span class="doador"><strong>{{ investment.funding_organization.name }}</strong>{% if investment.funding_entity %} {% trans "trough the project" %} <strong>{{ investment.funding_entity.title }}</strong>{% endif %}</span>
    		<span class="ico seta-fluxo"></span>
    		<h2 class="titulo-ficha-invest">{{ investment.recipient_project.name }}</h2>
            <input type="hidden" value="{{ investment.pk }}" name="id" />
	  		<div class="conteudo-abas-container">
		        <!-- Informacoes da ficha -->
		        <section id="informacoes">
					<!-- Informações de Valores -->
					<div class="info valores">
						<h2 class="titulo-tabela">{% trans "Amount" %}</h2>
						<!-- tabela de informacoes de Valores -->
						<table class="tabela horizontal" caption="Amount" summary="">
							<tbody>
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Amount" %}</th>
									<td class="conteudo-registro"><span class="destaque">{% currency investment.amount %}</span> {% trans "U.S. Dollars" %}</td>
								</tr>
							</tbody>
						</table>
						<!-- fim de tabela de informacoes de Valores -->
					</div>
					<!-- Fim de Informações de Valores -->
					<!-- Informações Básicas -->
					<div class="info basica">
						<h2 class="titulo-tabela">{% trans "Basic information" %}</h2>
						<!-- tabela de informacoes basicas -->
						<table class="tabela horizontal" caption="Basic information" summary="">
							<tbody>
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Investor  organization" %}</th>
                                    <td class="conteudo-registro">{%if investment.funding_organization %}<a href="{% url organization_detail investment.funding_organization.pk %}" title="{{ investment.funding_organization.name }}">{{ investment.funding_organization.name }}</a>{%else%}-{%endif%}</td>
								</tr>
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Investor project" %}</th>
                                    <td class="conteudo-registro">{%if investment.funding_project %}<a href="{% url project_detail investment.funding_project.pk %}" title="{{ investment.funding_project.name }}">{{ investment.funding_project.name }}</a>{%else%}-{%endif%}</td>
								</tr>
	                            <tr>
									<th class="titulo-registro" scope="row">{% trans "Recipient  organization" %}</th>
                                    <td class="conteudo-registro"><a href="{% url organization_detail investment.recipient_organization.pk %}" title="{{ investment.recipient_organization.name }}">{{ investment.recipient_organization.name }}</a></td>
								</tr>
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Recipient project" %}</th>
                                    <td class="conteudo-registro">{%if investment.recipient_project %}<a href="{% url project_detail investment.recipient_project.pk %}" title="{% trans "Search" %}: {{ investment.recipient_project.name }}">{{ investment.recipient_project.name }}</a>{%else%}-{%endif%}</td>
								</tr>
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Investment type" %}</th>
									<td class="conteudo-registro">{{ investment.get_kind_display }}</td>
								</tr>
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Investment date" %}</th>
									<td class="conteudo-registro">{{ investment.contributed_at|date:"d/M/Y" }}</td>
								</tr>
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Estimated completion date" %}</th>
									<td class="conteudo-registro">{%if investment.completed_at %}{{ investment.completed_at|date:"d/M/Y" }}{%else%}-{%endif%}</td>
								</tr>
							</tbody>
						</table>
						<!-- fim de tabela de informacoes basicas -->
					</div>

					<!-- Fim de Informações "Parentesco" -->
                    {% if investment.parent or investment.investment2_set.all %}
					<!-- Informações Básicas -->
					<div class="info basica">
						<h2 class="titulo-tabela">{% trans "Investment Relations" %}</h2>
						<table class="tabela horizontal" caption="Basic information" summary="">
							<tbody>
                                {% if investment.parent %}
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Parent Investment" %}</th>
                                    <td class="conteudo-registro">{%if investment.parent %}<a href="{% url investment_detail investment.parent.pk %}" title="{{ investment.parent.funding_organization.name }}">{{ investment.parent.funding_organization.name }} ==> {{ investment.parent.recipient_organization.name }}</a>{%else%}-{%endif%}</td>
								</tr>
                                {% endif %}
                                {% if investment.investment2_set.all %}
                                {% for child in investment.investment2_set.all %}
								<tr>
									<th class="titulo-registro" scope="row">{% trans "Children Investment" %}</th>
                                    <td class="conteudo-registro"><a href="{% url investment_detail child.pk %}" title="{{ child.funding_organization.name }}">{{ child.funding_organization.name }} ==> {{ child.recipient_organization.name }}</a></td>
								</tr>
                                {% endfor %}
                                {% endif %}
							</tbody>
						</table>
					</div>
                    {% endif %}
					<!-- fim de Informações "Parentesco" -->
		        </section>
		        <!-- fim de Informacoes da ficha -->
	    	</div>
    	</div>
    </div>
    <!-- fim de conteudo -->
    <!-- barra lateral -->
    <div class="barra-lateral">
    </div>
    <!-- fim de barra lateral -->
</div>
{% endblock %}
