{% load sekizai_tags tags i18n static cms_tags %}

{%block head%}
    {% addtoblock "css" %}
        <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/ui-custom-theme/jquery-ui-1.9.2.custom.min.css" />
    <!-- Bootstrap CSS Toolkit styles -->
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
    <!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-responsive.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% get_static_prefix %}css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/jquery.fileupload-ui.css">
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->    
   {% endaddtoblock %}

    {% addtoblock "js" %}
        <!-- Funções gerais de cadastro -->
        <script type="text/javascript" src="{% get_static_prefix %}scripts/global/form.js"></script>
                    
        <!-- Funções específicas dessa página -->
        <script type="text/javascript" src="{% get_static_prefix %}scripts/project/form.js"></script>
    {% endaddtoblock %}
{% endblock %}

{% block base_content %}
    <section class="cadastro projeto">
        <header class="info-cadastro-preliminar">
            <h3 class="titulo-cadastro">{%trans "Project name" %}</h3>
            <p class="autoria-data">
            {% if formset.instance.pk %}
                {% if formset.instance.updater %}
                {%trans "Last edited by " %}<a href="{% page_url 'user-form' %}" id="" class="editado-por">{{formset.instance.updater }}</a> {% trans "in" %} <span class="editado-em">{{formset.instance.updated_at}}</span>
                {% elif formset.instance.creater  %}
                {%trans "Last edited by " %}<a href="{% page_url 'user-form' %}" id="" class="editado-por">{{formset.instance.creater}}</a> {% trans "in" %} <span class="editado-em">{{formset.instance.created_at}}</span>
                {% endif %}
            {% endif %}
            </p>
        </header>

        <form method="post" action="" class="form-cadastro projeto">
            {% csrf_token %}
            
            <div class="controles superiores">
                <input type="submit" class="botao primario" value="{%trans "Save project record" %}" />
                <a href="{% page_url 'home' %}" class="botao secundario">{%trans "Cancel" %}</a>
            </div>          
            
            <div class="campos-formulario">
                <!-- Basic Information -->
                <fieldset class="info-cadastro basico">
                    <legend class="titulo-info">{% trans "Basic information"%}</legend>
                    
                    <div class="grupo grupo-descricao">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_title">{{ formset.title.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.title }}
                                {{ formset.title.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo ">
                            <div class="titulo-campo">
                                <label for="id_acronym">{{ formset.acronym.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.acronym }}
                                {{ formset.acronym.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo menor-para-imagem">
                            <div class="titulo-campo">
                                <label for="id_description">{{ formset.description.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.description }}
                                {{ formset.description.errors }}
                            </div>
                            
                            <div class="campo-imagem">
                                <div class="espaco-imagem">
                                    <img id="picture" src="{% get_static_prefix %}images/projeto-sem-foto.jpg" data-default="{% get_static_prefix %}images/projeto-sem-foto.jpg"width="185" height="130" alt="{% trans "Project Image" %}">
                                </div>
                                
                                <div class="caminho-imagem">
                                    {{ formset.image }}
                                </div>
                                
                                <div class="controle-imagem">
                                    <a id="change-picture" href="javascript:;" class="botao primario">{% trans "Change Picture" %}</a>
                                    <a id="remove-picture" href="javascript:;" class="botao primario">{% trans "Remove Picture" %}</a>
                                </div>
                            </div>
                        </div>   
                    </div>                    
                                                  
                    <div class="grupo grupo-categoria">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_category">{{ formset.category.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.category }}
                                {{ formset.category.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-programa">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_include">{{ formset.include.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.include }}
                                {{ formset.include.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-organizacao">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_main_org">{{ formset.main_org.label }}*</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                <span class="links-adicionais">{% trans "or" %} <a href="{% page_url 'organization-form' %}">{% trans "Create new organization" %}</a></span>
                                {{ formset.main_org }}
                                {{ formset.main_org.errors }}
        <!-- Funções específicas dessa página -->
        <script type="text/javascript" src="{% get_static_prefix %}scripts/project/form.js"></script>
    {% endaddtoblock %}
{% endblock %}

{% block base_content %}
    <section class="cadastro projeto">
        <header class="info-cadastro-preliminar">
            <h3 class="titulo-cadastro">{%trans "Project name" %}</h3>
            <p class="autoria-data">
            {% if formset.instance.pk %}
                {% if formset.instance.updater %}
                {%trans "Last edited by " %}<a href="{% page_url 'user-form' %}" id="" class="editado-por">{{formset.instance.updater }}</a> {% trans "in" %} <span class="editado-em">{{formset.instance.updated_at}}</span>
                {% elif formset.instance.creater  %}
                {%trans "Last edited by " %}<a href="{% page_url 'user-form' %}" id="" class="editado-por">{{formset.instance.creater}}</a> {% trans "in" %} <span class="editado-em">{{formset.instance.created_at}}</span>
                {% endif %}
            {% endif %}
            </p>
        </header>

        <form method="post" action="" class="form-cadastro projeto">
            {% csrf_token %}
            
            <div class="controles superiores">
                <input type="submit" class="botao primario" value="{%trans "Save project record" %}" />
                <a href="{% page_url 'home' %}" class="botao secundario">{%trans "Cancel" %}</a>
            </div>          
            
            <div class="campos-formulario">
                <!-- Basic Information -->
                <fieldset class="info-cadastro basico">
                    <legend class="titulo-info">{% trans "Basic information"%}</legend>
                    
                    <div class="grupo grupo-descricao">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_title">{{ formset.title.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.title }}
                                {{ formset.title.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo ">
                            <div class="titulo-campo">
                                <label for="id_acronym">{{ formset.acronym.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.acronym }}
                                {{ formset.acronym.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo menor-para-imagem">
                            <div class="titulo-campo">
                                <label for="id_description">{{ formset.description.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.description }}
                                {{ formset.description.errors }}
                            </div>
                            
                            <div class="campo-imagem">
                                <div class="espaco-imagem">
                                    <img id="picture" src="{% get_static_prefix %}images/projeto-sem-foto.jpg" data-default="{% get_static_prefix %}images/projeto-sem-foto.jpg"width="185" height="130" alt="{% trans "Project Image" %}">
                                </div>
                                
                                <div class="caminho-imagem">
                                    {{ formset.image }}
                                </div>
                                
                                <div class="controle-imagem">
                                    <a id="change-picture" href="javascript:;" class="botao primario">{% trans "Change Picture" %}</a>
                                    <a id="remove-picture" href="javascript:;" class="botao primario">{% trans "Remove Picture" %}</a>
                                </div>
                            </div>
                        </div>   
                    </div>                    
                                                  
                    <div class="grupo grupo-categoria">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_category">{{ formset.category.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.category }}
                                {{ formset.category.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-programa">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_include">{{ formset.include.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.include }}
                                {{ formset.include.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-organizacao">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_main_org">{{ formset.main_org.label }}*</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                <span class="links-adicionais">{% trans "or" %} <a href="{% page_url 'organization-form' %}">{% trans "Create new organization" %}</a></span>
                                {{ formset.main_org }}
                                {{ formset.main_org.errors }}
                                {% block extra_script %}
                                <style>
                                        .combo{
                                                margin:200px;
                                        }
                                </style>
                                <script>
                                jQuery(document).ready(function(){
                                        jQuery('.ui-autocomplete-input').each(
                                        function(i,v){
                                          jQuery(this).addClass('combo');
                                        });
                                });
                        </script>
                                {% endblock %}
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_organization">{{ formset.organization.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                <span class="links-adicionais">{% trans "or" %} <a href="{% page_url 'organization-form' %}">{% trans "Create new organization" %}</a></span>
                                {{ formset.organization }}
                                {{ formset.organization.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-data">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_grant_from">{{ formset.grant_from.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.grant_from }}
                                {{ formset.grant_from.errors }}
                            </div>
                        </div>
                                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_grant_to">{{ formset.grant_to.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.grant_to }}
                                {{ formset.grant_to.errors }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="grupo grupo-valor">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_estimated_budget">{{ formset.budget.label }}</label>
                            </div>
                                
                            <div class="campos-editaveis">
                                <select name="moeda" class="select-curto moeda">
                                    <option value="0" selected="selected">{% trans "U.S. Dollars" %}</option>
                                    <option value="1">{% trans "Country currency" %}</option>
                                </select>
                                {{ formset.budget }}
                                {{ formset.budget.errors }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Fim Basic-->
                
                <!-- Contact information-->
                <fieldset class="info-cadastro contato">
                    <legend class="titulo-info">{% trans "Contact information"%}</legend>
                
                    <div class="grupo grupo-email">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_email">{{ formset.email.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.email }}
                                {{ formset.email.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-telefone">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_phone_number_01">{{ formset.phone_number_01.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.phone_number_01 }}
                                {{ formset.phone_number_01.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_phone_number_02">{{ formset.phone_number_02.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.phone_number_02 }}
                                {{ formset.phone_number_02.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_FAX">{{ formset.FAX.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.FAX }}
                                {{ formset.FAX.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-website">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_website">{{ formset.website.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.website }}
                                {{ formset.website.errors }}
                            </div>
                        </div>
                    </div>
                    
                </fieldset> 
                <!-- Fim Contact information-->
                
                <!-- Geographical scope-->
                <fieldset class="info-cadastro escopo-geografico">
                    <legend class="titulo-info">{% trans "Geographical scope"%}</legend>
                    
                    <div class="grupo grupo-escopo">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_location">{{ formset.location.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.location }}
                                {{ formset.location.errors }}
                            </div>
                        </div>
                    </div>
                </fieldset> 
                <!-- Fim Geographical scope-->
                
                <!-- Activities types-->
                <fieldset class="info-cadastro tipo-atividades">
                    <legend class="titulo-info">{% trans "Activities types"%}</legend>
                    
                    <div class="grupo grupo-atividades">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_activities">{{ formset.activities.label }} *</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.activities }}
                                {{ formset.activities.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_activity_description">{{ formset.activity_description.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.activity_description }}
                                {{ formset.activity_description.errors }}
                            </div>
                        </div>
                    </div>
                </fieldset> 
                <!--Fim  Activities types-->
                
                <!-- Attachments-->
                <fieldset class="info-cadastro anexos">
                    <legend class="titulo-info">{% trans "Attachments"%}</legend>
                    <p>
                        Teste
                    </p>       
                </fieldset>             
                <!--Fim  Attachments --> 
            </div>
            
            
            <div class="controles inferiores">
                <input type="submit" class="botao primario" value="{%trans "Save project record" %}" />
                <a href="{% page_url 'home' %}" class="botao secundario">{%trans "Cancel" %}</a>
            </div>            
        </form>
    </section>
{%endblock%}
