{% load sekizai_tags tags i18n static cms_tags %}

{%block head%}
    {% addtoblock "css" %}
        <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/ui-custom-theme/jquery-ui-1.9.2.custom.min.css" />
        <!--       <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}uploadify/uploadify.css" />-->
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <!-- Funções gerais de cadastro -->
        <script type="text/javascript" src="{% get_static_prefix %}scripts/global/form.js"></script>
                
        <!-- Funções específicas dessa página -->
        <script type="text/javascript" src="{% get_static_prefix %}scripts/organization/form.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}uploadify/jquery.uploadify.js" /></script>
        <script type="text/javascript">
                $(function(){
                        $("#file_upload").uploadify({
                                height:30,
                                swf: '{% get_static_prefix %}uploadify/uploadify.swf',
                                uploader:'/ajax/upload',
                                width: 120
                        });
                });
        </script>
    {% endaddtoblock %}
{% endblock %}

{% block base_content %}
    <section class="cadastro organizacao">
        <header class="info-cadastro-preliminar">
            <h3 class="titulo-cadastro">{% if formset.instance.pk %}{{formset.instance.name}}{% else %}{%trans "[Organization name]" %}{% endif %}</h3>
            <p class="autoria-data">
            {% if formset.instance.pk %}
                {% if formset.instance.updater %}
                {%trans "Last edited by " %}<a href="{% page_url 'user-form' %}" id="" class="editado-por">{{formset.instance.updater }}</a> {% trans "in" %} <span class="editado-em">{{formset.instance.updated_at}}</span>
                {% elif formset.instance.creater  %}
                {%trans "Last edited by " %}<a href="{% page_url 'user-form' %}" id="" class="editado-por">{{formset.instance.creater}}</a> {% trans "in" %} <span class="editado-em">{{formset.instance.created_at}}</span>
                {% endif %}
            {% endif %}
            </p>
        </header>

        <form method="post" action="" enctype="multipart/form-data" class="form-cadastro organizacao">
            {% csrf_token %}
            
            <div class="controles superiores">
                <input type="submit" class="botao primario" value="{%trans "Save organization record" %}" />
                <a href="{% page_url 'home' %}" class="botao secundario">{%trans "Cancel" %}</a>
            </div>          
            
            <div class="mensagem-informativa">* {% trans "Required fields" %}</div>
            
            <div class="campos-formulario">
                <!-- Basic Information -->
                <fieldset class="info-cadastro basico">
                    <legend class="titulo-info">{% trans "Basic information"%}</legend>
                    
                    <div class="grupo grupo-descricao">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_name"><span class="obrigatorio">{{ formset.name.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.name }}
                                {{ formset.name.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo ">
                            <div class="titulo-campo">
                                <label for="id_acronym">{{ formset.acronym.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.acronym }}
                                {{ formset.acronym.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo menor-para-imagem">
                            <div class="titulo-campo">
                                <label for="id_mission"><span class="obrigatorio">{{ formset.mission.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.mission }}
                                {{ formset.mission.errors }}
                            </div>
                            
                            <div class="campo-imagem">
                                <div class="espaco-imagem">
                                    <img id="picture" src="{% if formset.instance.image %}{{ formset.instance.image.url }}{% else %}{% get_static_prefix %}images/organizacao-sem-foto.jpg{% endif %}" data-default="{% get_static_prefix %}images/organizacao-sem-foto.jpg" width="185" height="130" alt="Image: {{ formset.instance.name }}">
                                </div>
                                
                                <div class="caminho-imagem">
                                    {{ formset.image }}
                                </div>
                                
                                <div class="controle-imagem">
                                    <a id="change-picture" href="javascript:;" class="botao primario">{% trans "Change Picture" %}</a>
                                    <a id="remove-picture" href="javascript:;" class="botao primario">{% trans "Remove Picture" %}</a>
                                </div>
                            </div>
                        </div>   
                    </div>                    
                                                  
                    <div class="grupo grupo-tipo">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_type"><span class="obrigatorio">{{ formset.type.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.type }}
                                {{ formset.type.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_ceo"><span class="obrigatorio">{{ formset.ceo.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.ceo }}
                                {{ formset.ceo.errors }}
                            </div>
                        </div>
                        
                        <div id="toolkit" class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_toolkit">{{ formset.toolkit.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.toolkit }}
                                {{ formset.toolkit.errors }}
                            </div>
                        </div>                                                                        
                    </div>
                    
                    
                    <div class="grupo grupo-admin">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_admin"><span class="obrigatorio">{{ formset.admin.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.admin }}
                                {{ formset.admin.errors }}
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Fim Basic-->
                
                
                
                <!-- Address information-->
                <fieldset class="info-cadastro endereco">
                    <legend class="titulo-info">{% trans "Address information"%}</legend>
                
                    <div class="grupo grupo-logradouro">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_street1"><span class="obrigatorio">{{ formset.street1.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.street1 }}
                                {{ formset.street1.errors }}

                                {{ formset.street2 }}
                                {{ formset.street2.errors }}
                            </div>            
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_zip">{{ formset.zip.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.zip }}
                                {{ formset.zip.errors }}
                            </div>
                        </div>                        
                    </div>
                    
                    
                    <div class="grupo grupo-pais">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_country"><span class="obrigatorio">{{ formset.country.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.country }}
                                {{ formset.country.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_state"><span class="obrigatorio">{{ formset.state.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.state }}
                                {{ formset.state.errors }}
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_city"><span class="obrigatorio">{{ formset.city.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.city }}
                                {{ formset.city.errors }}
                            </div>
                        </div>
                    </div>
                </fieldset> 
                <!-- Fim Address information-->
                                               
                
                <!-- Contact information-->
                <fieldset class="info-cadastro contato">
                    <legend class="titulo-info">{% trans "Contact information"%}</legend>
                
                    <div class="grupo grupo-email">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_email"><span class="obrigatorio">{{ formset.email.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.email }}
                                {{ formset.email.errors }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-telefone">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_phone_country_prefix"><span class="obrigatorio">{{ formset.phone_country_prefix.label }}*</span></label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.phone_country_prefix }}
                                {{ formset.phone_local_prefix }}
                                {{ formset.phone_number }}
                                
                                {{ formset.phone_country_prefix.errors }}
                                {{ formset.phone_local_prefix.errors }}
                                {{ formset.phone_number.errors }}                                                                                                
                            </div>
                        </div>
                        
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_fax_country_prefix">{{ formset.fax_country_prefix.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.fax_country_prefix }}
                                {{ formset.fax_local_prefix }}
                                {{ formset.fax_number }}
                                
                                {{ formset.fax_country_prefix.errors }}
                                {{ formset.fax_local_prefix.errors }}
                                {{ formset.fax_number.errors }}                                                                                                
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="grupo grupo-website">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_website">{{ formset.website.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                {{ formset.website }}
                                {{ formset.website.errors }}
                            </div>
                        </div>
                    </div>
                    
                </fieldset> 
                <!-- Fim Contact information-->
                
                <!-- Connections scope-->
                <fieldset class="info-cadastro conexoes">
                    <legend class="titulo-info">{% trans "Connections"%}</legend>
                    
                    <div class="grupo grupo-conexoes">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_connections">{{ formset.connections.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                <span class="links-adicionais">{% trans "or" %} <a href="{% page_url 'user-form' %}">{% trans "Create new user" %}</a></span>
                                {{ formset.connections }}
                                {{ formset.connections.errors }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="grupo grupo-projetos">
                        <div class="envolve-campo">
                            <div class="titulo-campo">
                                <label for="id_projects">{{ formset.projects.label }}</label>
                            </div>
                            
                            <div class="campos-editaveis">
                                <span class="links-adicionais">{% trans "or" %} <a href="{% page_url 'project-form' %}">{% trans "Create new project" %}</a></span>
                                {{ formset.projects }}
                                {{ formset.projects.errors }}
                            </div>
                        </div>                      
                    </div>                    
                </fieldset> 
                <!-- Fim Connections scope-->
                                <input type='file' name='file_upload' id='file_upload' />
                
                <!-- Attachments-->
                <!--Fim  Attachments --> 
            </div>
            
            <div class="controles inferiores">
                <input type="submit" class="botao primario" value="{%trans "Save organization record" %}" />
                <a href="{% page_url 'home' %}" class="botao secundario">{%trans "Cancel" %}</a>
            </div>            
        </form>
        
        {% block extra_script %}
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('.ui-autocomplete-input').each(function(i,v){
                    jQuery(this).addClass('combo');
                });

                //Cria o estilo dos elementos combo.
                createCombo();
            });
        </script>
        {% endblock %}
                
    </section>
{%endblock%}
