{% load tags i18n %}        
        <div class="paginacao-resultados">
            <div class="total-resultados">
                <p>{% trans "Approximately" %} <strong> {{ paginator.paginator.num_pages }} </strong> {% trans "results" %}</p>
            </div>

            <div class="paginacao">
                <ul class="lista">
                    <li class="item anterior">
                        {% if paginator.has_previous %}
                            <a href="?page={{ paginator.previous_page_number }}">Previous</a>
                        {% endif %}
                    </li>
                
                    <li class="item"><a href="#">1</a></li>
                    <li class="item atual"><a href="#">{{ paginator.number }}</a></li>
                    <li class="item"><a href="#">3</a></li>
                    <li class="item"><a href="#">...</a></li>
                    <li class="item"><a href="#">20</a></li>
                    
                    <li class="item proximo">
                        {% if paginator.has_next %}
                            <a href="?page={{ paginator.next_page_number }}">Next</a>
                        {% endif %}
                    </li>

                </ul>


            </div>
        </div>
