.vLargeTextField {
    width: 98%;
}

.vDateField, .vTimeField {
    width: 5.5em;
    vertical-align: top;
}

.vTextField, .vURLField {
    width: 98%;
}

#id_activities { /* select */
    height: 11em;
}

#investment2_form .select2-container {
    min-width: 150px;
    overflow: hidden;
    width: 30em;
}


/* it makes 'x' avaliable to delete projects*/

#s2id_id_funding_project abbr {
    display: inline-block;
}

#s2id_id_recipient_project abbr {
    display: inline-block;
}
